<!-- container -->
<div class="container">
	<%= render "shared/header" %>

	<%= render "shared/nav" %>

	<div class="row page-bg" style="min-height: 630px;">
		<article>
			<div class="page-bg">
				<div class="content span7">
					<h1>Como você pode ajudar</h1>
					<p>
					O Instituto Gabi tem o apoio de pessoas e empresas que tem uma visão social.<br />
					São iniciativas individuais, campanhas realizadas por alunos de escolas, funcionários de empresas, condomínios. Na grande maioria são doações de materiais para o funcionamento da casa.
					</p>
					<p>
					Veja alguns exemplos:
					  <ul>
						  <li>Em Pauta Comunicação</li>
					    <li>Balan-set Serviços contábeis</li>
					    <li>Diafragma Foto e Vídeo</li>
					    <li>Escola Princípio</li>
					    <li>Telesp Clube</li>
					    <li>Funcionários de uma Agência dos Correios</li>
					    <li>Jhonsons Controls</li>
					    <li>Paróquia Nossa Senhora do Perpétuo Socorro (Jd. Paulistano)</li>
					  </ul>
					</p>

					<h1>O Voluntariado presencial e online</h1>
				  <p>Você pode ser voluntário no Instituto de duas maneiras:</p>
				  <p>
					  Presencial: participar das ações em diferentes áreas do Instituto Gabi
						<ul>
						  <li>Auxiliar nos atendimentos das crianças e adolescentes com deficiência, com a orientação dos educadores;</li>
						  <li>Colaborar com os serviços da casa: manutenção, bazar, limpeza, cozinha</li>
						  <li>Auxiliar nas atividades dos finais de semana</li>
						  <li>Participar dos eventos e divulga-los</li>
						</ul>
					</p>
					<p>
						Online: colaborar com os programas do Instituto Gabi sem sair de casa:
						<ul>
						  <li>Atuar nas ações de comunicação e marketing</li>
						  <li>Na consultoria jurídica para os familiares. Trata-se de uma orientação jurídica para as diferentes demandas: legislação, benefícios;</li>
						  <li>Assessoria jurídica para a ONG;</li>
						  <li>Orientação nas diferentes áreas: administração, pedagogia, informática, etc.</li>
					</p>
				</div>

				<%= render "shared/side"%>

				<div style="clear: both;"></div>
			</div>
		</article>
	</div>

	<%= render "shared/footer" %>
</div>
<!-- container -->