<!-- container -->
<div class="container">
	<%= render "shared/header" %>

	<%= render "shared/nav" %>

	<div class="row page-bg" style="min-height: 630px;">
		<article>
			<div class="page-bg">
				<div class="content span6">
					<h1>Como sua empresa pode ajudar</h1>
					<p>
					 Sua empresa contribui com o Instituto Gabi e a doação é abatida do imposto de renda. Como fazer isso?
					</p>
					<p>
> 					  Acesse: <%= link_to "http://fumcad.prefeitura.sp.gov.br/", "http://fumcad.prefeitura.sp.gov.br/"  %>
					  <ul>
						  <li>
							  <strong>Passo 1:</strong> A primeira tela que surge traz os links das entidades cadastradas. Escolha o Instituto
							  Gabi. Clicando sobre o nome da entidade você pode ver maiores informações sobre a instituição e
							  os projetos que poderão ser beneficiados.
							</li>
					    <li>
						    <strong>Passo 2:</strong> A partir da tela de detalhes da instituição, clicando no botão "Efetuar doação para este
						    projeto" o sistema irá solicitar seus dados.
						  </li>
					    <li>
						    <strong>Passo 3:</strong> Preencha os campos e clique no botão "Confirmar". A seguir confirme a geração do boleto.
						  </li>
						</ul>
					</p>

					<h3>Limite de dedução:</h3>
					<p>
						O valor limite de dedução direta do imposto de renda devido é de 1%, aplicável sobre o valor devido à alíquota de 15%,
						não sendo permitida qualquer dedução sobre o adicional de 10%.
				  </p>
				  <p>
					  A legislação somente permite a dedução do imposto para as pessoas jurídicas que apurem o imposto de renda com base no lucro real.
					</p>

					<h3>Indedutibilidade da doação:</h3>
					<p>
						O valor da doação é considerado indedutível como despesa operacional, para a pessoa jurídica doadora.
					</p>

					<h3>Prazo de pagamento da doação:</h3>
					<p>
						O valor deverá ser pago até o último dia útil de cada período de apuração do imposto, trimestral ou anual.
					</p>

					<h3>Base Legal:</h3>
					<p>Lei nº 8.069, de 13 de julho de 1990, art. 260. Decreto nº 3.000, de 26 de março de 1999, art. 591.</p>

				</div>
				<div class="content page-bg span6">
					<h1>A sua Empresa e um Projeto Social de Qualidade</h1>
					<p>
					  A cultura da responsabilidade social é um dos valores mais preciosos das empresas que cada vez mais adotam
					  programas de ações sociais. No Instituto Gabi, as corporações podem participar de diferentes iniciativas:
					  voluntariado, jornadas de trabalho, mutirões, dia de fazer a diferença, de responsabilidade social, doações
					  diversas, etc.
					</p>
					<p>
					  Servem de exemplo as campanhas do Wall Mart (Loja de Santo Amaro) e da Hamburg Sud (Granja Santo Antônio)
					  que realizaram jornadas de trabalho voluntário para limpeza e pintura do prédio, e da OMRON (Vila Santa Catarina)
					  que promoveu um dia de lazer junto às crianças e adolescentes com deficiência.
					</p>
					<p>
					  Há outras corporações que realizam ações diretamente com as crianças e adolescentes com deficiência, atendidos
					  no Instituto Gabi.
					</p>
					<p>
						Um bom programa de responsabilidade social para a empresa e para a sociedade traz benefícios diretos e indiretos.
					</p>

					<p>
						As empresas que apoiam o Instituto têm como resultados compensatórios imediatos:
						<ul>
							<li>Dedução fiscal</li>
					    <li>Relatório social</li>
					    <li>Veiculação na imprensa</li>
					    <li>Fortalecimento do negócio</li>
					  </ul>
					</p>

					<p>
					  E indiretamente, são beneficiadas com a valorização da imagem institucional e da marca. Ao apoiar o Instituto
					  Gabi, as empresas agregam o valor de um projeto social de qualidade, porque é reconhecido junto ao poder público
					  e pela comunidade.
					</p>

					<p>
					  A integração das empresas na comunidade é mais um passo para uma sociedade mais justa e o resultado é um futuro
					  melhor para todos.
					  Você também pode fazer um Mundo melhor. Faça a diferença.
					</p>
				</div>
				<div style="clear: both;"></div>
			</div>
		</article>
	</div>

	<%= render "shared/footer" %>
</div>
<!-- container -->