/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Backgrounds
:: General Classes
:: Menu
:: Content
:: Font Size
:: News
:: Carousel
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
a {
    color: #c61c0b;
}
a:hover {
    color: #033a79;
}
body {
    color: #000000;
    font-family: "Trebuchet MS", "Myriad Pro", Arial;
}
h3.gabi {
    /*font-family: "Viner Hand ITC", "URW Chancery L";*/
    font-family: 'Shadows Into Light Two', cursive;
    font-style: italic;
    margin-top: 30px;
}
h4 {
    color: #2b5782;
    font-family: "Myriad Pro", "Trebuchet MS", Arial;
}

p {
    margin: 3px;
    padding: 0px;
}

ul {
    list-style: circle;
    margin: 10px 0 10px 30px;
}

ul li {
    margin: 5px;
}
.clear {
	clear: both;
}


/* -----------------------------------------
   Backgrounds
----------------------------------------- */
body {
    background: url(image_path('ig/bg-page.jpg')) no-repeat top center;
    padding-bottom: 60px;
}

.page-bg {
    background: url(image_path('ig/bg-content.jpg')) top left;
}

.paper-bg {
    background: url(image_path('ig/bg-paper-header.png')) no-repeat right top;
}

.trap-bg {
    background: url(image_path('ig/bg-trap.png')) no-repeat;
}

.stick-bg {
    background: url(image_path('ig/bg-stick-note.png')) no-repeat;
}

.footer-bg {
    background: #1e5687;
}


/* -----------------------------------------
   General Classes
----------------------------------------- */
.header {
    min-height: 150px;
}
.header .logo {
    margin-top: 20px;
}
.header-content {
    margin: 45px 10px 0 50px;
}
.header-content h3 {
    color: #033a79;
    font-family: "Myriad Pro", "Trebuchet MS", Arial;
    font-style: italic;
    font-weight: normal;
}
.header-content span {
    color: #c61c0b;
    font-family: "Myriad Pro", "Trebuchet MS", Arial;
    font-size: 1.2em;
    font-style: italic;
}
.header-content .pag-seguro {
    margin-bottom: -10px;
    margin-left: 10px;
}
.header-content .social-icons {
    margin-bottom: -7px;
}
.header-content .search-field {
    border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 5px;
}
.hash {
	font-size: 1.9em;
	margin-left: 40px;
}
.header-social {
	margin-top: 20px;
	margin-right: 130px;
	  text-align: right;
}
.pag-seguro {
	margin-top: -10px;
}
.social-icons {
	margin-top: -10px;
}
.container {
  padding-top: 20px;
}
.paper-block {
    margin-top: -20px;
    height: 400px;
    position: absolute;
    right: 0;
    margin-right: -45px;
}
.stick-note {
    color: #2b5782;
    font-family: "Myriad Pro", "Trebuchet MS", Arial;
    height: 280px;
    padding: 35px 35px 25px 120px;
}
.stick-note p {
    font-size: 1.0em;
}
.stick-note h4 {
    color: #2b5782;
    font-family: "Myriad Pro", "Trebuchet MS", Arial;
    margin-bottom: 10px;
}

.footer {
    color: #ffffff;
}
.footer a {
	color: #ffffff;
}
.footer a:hover {
	text-decoration: underline;
}
.footer h4 {
    color: #ffffff;
}
.footer-wrapper {
  margin-top: 10px;
}
.leia-mais {
	color: #033a79;
	display: block;
	margin-top: 10px;
	text-align: right;
}
.leia-mais:hover {
	text-decoration: underline;
}
#getTweets ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#getTweets ul li p {
	font-size: 0.9em;
}
#getTweets ul li a {
	color: #ffffff;
}
#getTweets ul li a:hover {
	text-decoration: underline;
}
.video {
	float: left;
	margin-top: 20px;
	margin-right: 20px;
}



/* -----------------------------------------
   Menu
----------------------------------------- */
nav  { position: relative; }
.menu {
  position: absolute;
  margin-left: 0;
  width: 960px;
}
.menu ul {
    list-style: none;
    margin: 0;
}

.menu ul li {
    float: left;
    background: url(image_path('ig/bg-menu.png'));
    height: 62px;
    margin: 0 0 20px 0;
}

.menu ul li.first {
    background: url(image_path('ig/lt-lt-menu.png')) no-repeat;
    margin-left: -61px;
    height: 62px;
    width: 61px;
}

.menu ul li.last {
    background: url(image_path('ig/lt-rt-menu.png')) no-repeat;
    float: right;
    margin-right: -51px;
    height: 62px;
    width: 51px;
}

.menu ul li.separator {
    background: url(image_path('ig/bg-menu-separator.png')) no-repeat;
    height: 62px;
    width: 25px;
}

.menu ul li.last-separator {
    background: url(image_path('ig/bg-menu-last-separator.jpg')) right;
    height: 62px;
    width: 32px;
}

.menu ul li a {
    display: block;
    /*font-family: "Viner Hand ITC", "URW Chancery L";*/
    font-family: 'Shadows Into Light Two', cursive;
    font-style: italic;
    font-size: 1.7em;
    letter-spacing: 2px;
    padding: 15px;
    line-height: 45px;
}

.menu ul li.instituto { width: 180px; }
.menu ul li.atividades { width: 139px; }
.menu ul li.ajudar { width: 179px; }
.menu ul li.noticias { width: 110px; }
.menu ul li.fotos { width: 85px; }
.menu ul li.contato { width: 110px; }




/* -----------------------------------------
   Content
----------------------------------------- */
article, aside {
	position: relative;
	margin-top: 20px;
}
.content p {
	padding: 10px;
}
.img-left, .img-right {
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 20px;
  margin-right: 20px;
}
.img-left {
	float:left;
}
.img-right {
	float: right;
	margin-left: 20px;
}




/* -----------------------------------------
   Font Size
----------------------------------------- */
h4 { font-size: 1.2em; }
h3.gabi { font-size: 1.8em; }
p,
ul { font-size: 1.1em; }



/* -----------------------------------------
   News
----------------------------------------- */
.news-wrapper {
    margin-top: 30px;
    min-height: 370px;
    margin-bottom: 30px;
}

.news {
    background: #ffffff;
    padding-bottom: 30px;
    width: 280px;
    height: 370px;
    margin-left: 30px;
}

.news .top {
    margin: -20px 0 0 -20px;
    height: 70px;
    width: 100px;
}

.news h4, .news p {
    margin: 0 20px 0 30px;
}

.news h4 {
    font-family: "Myriad Pro", "Trebuchet MS", Arial;
    font-size: 1.4em;
    margin-bottom: 10px;
}




/* -----------------------------------------
   Paginate
----------------------------------------- */

.paginate {
  border-radius: 5px;
  list-style: none;
  margin-top: 15px;
  padding: 10px;
  position: relative;
  text-align: center;
}

.paginate li {
  display: inline;
}

.paginate .previous-page,
.paginate .next-page {
  position: absolute;
}

.paginate .next-page {
  right: 5px;
}

.paginate .previous-page {
  left: 5px;
}

.paginate a {
  background: #fff;
  border: 1px solid #aaa;
  color: #222;
}

.paginate .disabled span {
  background: #f3f3f3;
  border: 1px solid #ccc;
  color: #909090;
}

.paginate a,
.paginate .disabled span {
  border-radius: 3px;
  padding: 5px 8px;
  text-decoration: none;
}

.paginate .page {
  color: #777;
  font-weight: bold;
}




/* -----------------------------------------
   Carousel
----------------------------------------- */
#myCarousel {
  margin-top: 20px !important;
  margin-left: 45px;
}

#myCarousel .carousel-inner {
   border: 6px solid #ffffff;
   -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
      -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
           box-shadow: 0px 1px 5px 0px #4a4a4a;

   -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
           border-radius: 5px;
}

#myCarousel .carousel-caption {
    background:#23639b;
    color:#fff;
    font-family: Helvetica, Arial, sans-serif;
    height: 147px;
    left:70px;
    padding: 15px;
    position:absolute;
    opacity:0.8; /* Overridden by captionOpacity setting */
    top:15px;
    width:238px;
    z-index:8;
}













/*---------------MBT's Custom Like Box Start--------------*/
.fan_box a:hover{
  text-decoration: none;
}

.fan_box .full_widget{
  height: 200px;
  border: 0 !important;
  background: #ff0000 !important;
  position: relative;
}

.fan_box .connect_top{
  background: none !important;
  padding: 0 !important;
}

.fan_box .profileimage, .fan_box .name_block{
  display: none;
}

.fan_box .connect_action{
  padding: 0 !important;
}

.fan_box .connections{
  padding: 0 !important;
  border: 0 !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #666;
}

span.total{
  color: #0080ff;
  font-weight: bold;
}

.fan_box .connections .connections_grid {
  padding-top: 10px !important;
}

.fan_box .connections_grid .grid_item{
  padding: 0 10px 10px 0 !important;
}

.fan_box .connections_grid .grid_item .name{
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-weight: normal;
  color: #289728 !important;
  padding-top: 1px !important;
}

.fan_box .connect_widget{
position: absolute;
bottom: 0;
left: 0px;
margin: 0 !important;
}

.fan_box .connect_widget .connect_widget_interactive_area {
margin: 0 !important;
}

.fan_box .connect_widget td.connect_widget_vertical_center {
padding: 0 !important;
}

/*---------------MBT's Custom Like Box End--------------*/


/* ---------------------------------
   Forms
---------------------------------- */


input[type=text],
input[type=password],
input[type=email] {
  font-size: 18px;
  padding: 5px 10px;
  width: 400px;
  -webkit-transition: background .5s;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
  background: #ffc;
}

input[type=submit] {
  font-size: 18px;
  margin-right: 15px;
  padding: 5px 10px;
}

form {
  margin-top: 20px;
}

form p:last-child {
  background: #eaeff3;
  border-top: 1px solid #ddd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 30px -30px -30px -30px;
  padding: 30px;
}

form textarea {
  font-size: 14px;
  height: 100px;
  padding: 15px;
  resize: none;
  width: 390px;
}

form select {
  font-size: 15px;
  -webkit-appearance: menulist-button;
}


.form-errors p {
  color: #c33a0a;
  font-weight: bold;
}

.form-errors ul {
  margin: 15px 0 15px 30px;
}

.message {
  border-radius: 4px;
  font-weight: bold;
  margin: 20px 0;
  padding: 15px 20px 15px 60px;

}

.message.notice {
  background: #81ca6c url(notice.png) no-repeat 20px center;
  color: #000;
  color: rgba(0, 0, 0, .6);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, .5);
}

.message.alert {
  background: #cb4617 url(alert.png) no-repeat 20px center;
  color: #000;
  color: rgba(255, 255, 255, .9);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}

label {
  display: block;
  padding-bottom: 5px;
}